html {
  height: 100%;
}

body {
  background-color: lightgray;
  height: 100%;
}

.bordered-container {
  width: 80%;
  height: 80%;
  border: solid thin black;
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
